%h1
  This tool converts any string to an Objective-C multi-line string.
%h2
  Just type or paste the string you want to convert in the first box, and it will magically escape it in the second.
%form{ action: "/", method: "POST"}
  %label{for: "input"}
    Input:
  %br
  %textarea.input
  %br
  %label{for: "output"}
    Output:
  %br
  %textarea.output
%p 
  Designed and engineered thoroughly by
  %a{href: "http://readncode.com", alt: "Flaviu Simihaian"}
    Flaviu Simihaian
  (
  %a{href: "http://twitter.com/closedbracket", alt: "@closedbracket"}
    @closedbracket
  )


